*{
    box-sizing: border-box;
    /* border: 1px solid white; */
    color: white;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body{
    height: 100vh;
    background: rgb(32, 8, 71);
    background: radial-gradient(circle, rgb(37, 3, 59) 0%, rgba(148,187,233,1) 100%);
}

header{
    display: flex;
    justify-content: space-between;
    background: rgb(58, 6, 62);
    background: radial-gradient(circle, rgb(37, 3, 59) 0%, rgba(148,187,233,1) 100%);
}

.left, .right{
    display: flex;
    div{
        margin: 10px;
    }
}

.logo p{
    font-size: larger; 
    border: 2px solid black;
    border-radius: 100%;
    padding: 10px;
    background-color: black;
    aspect-ratio: 1;
}

.title{
    display: flex; 
    align-items: center;
}

.title p{
    font-size: larger;
}

section{
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg, .login{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    font-size:large;
    margin: 1%;
}