*{
    box-sizing: border-box;
    /* border: 1px solid white; */
    color: black;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body{
    background: rgb(220, 229, 253);
}

.contain{
    height: 100vh;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: #982AE2;
    border-radius: 20px;
    border: 10px groove violet;
}

.left, .right{
    display: flex;
    div{
        margin: 10px;
    }
}

.logo img{
    border: 2px solid black;
    border-radius: 100%;
    padding: 10px;
    background-color: black;
    width: 100px;
    aspect-ratio: 1;
}

.title{
    display: flex; 
    align-items: center;
}

.title p{
    font-size: xx-large;
}

.home{
    display: flex;
    align-items: center;
    
}

.home a{
    text-decoration: none;
    background-color:aliceblue;
    border: 10px groove violet;
    border-radius: 10px;
    padding: 10px;
}

section{
    height: 60%;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30%;
}

.reg, .login{
    background-color: blueviolet;
    padding: 10px;
    border-radius: 10px;
    font-size:large;
    margin: 1%;
    border: 10px groove violet;
}

#about p{
    margin-left: 25%;
    width: 50%;
    font-size: larger;
}